<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 配置 Handle, 映射“/hello” 请求 -->
    <bean name="/hello" class="org.fkit.controller.HelloController"></bean>
    <!-- 处理器映射器将 bean 的 name 作为 url 进行查找，需要在配置 Handle 时指定 name（即 url）-->
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
    <!-- SimpleControllerHandlerAdapter 是一个处理器适配器，所有处理器适配器都要实现 HandlerAdapter 接口 -->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
    <!-- 视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver"/>
</beans>